body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 100%;
    line-height: 1.5em;
    height: 100%;
    margin: 0;
}
h1 {
    font-family: Georgia, serif;
    line-height: 1em;
}
.container {
    max-width: 768px;
    margin: 0 auto;
    padding: 1em;
}
table {
    width: 100%;
}
table th {
    text-align: left;
}
table th,
table td {
}
table form {
    display: inline;
}
table input {
    border: none;
    background: none;
    display: inline;
    padding: 0;
    color: blue;
    text-decoration: underline;
}