body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 100%;
    line-height: 1.5em;
    height: 100%;
    margin: 0;
}
h1 {
    font-family: Georgia, serif;
    line-height: 1em;
}
.container {
    max-width: 768px;
    margin: 0 auto;
    padding: 1em;
}
table {
    width: 100%;
}