* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.container {
    width: 60em;
    margin: 0 auto;
}
table {
    width: 100%;
}
table thead td {
    font-weight: bold;
}
table td {
    border: 1px solid #ccc;
    padding: 10px;
}